<% include header.html %>
  
<script>
  wx.config({
    debug:<%=locals.wx.debug%>,
    appId:'<%=locals.wx.appId%>',
    timestamp:<%=locals.wx.timestamp%>,
    nonceStr:'<%=locals.wx.nonceStr%>',
    signature:'<%=locals.wx.signature%>',
//    jsApiList:['openLocation','getLocation']
  });
  
  
  $(document).ready(function(){ 
    $('#switch').change(function(){
      var myvalue = $(this).children('option:selected').val(); 
      if(myvalue=='on'){
        
        wx.getLocation({
          success: function (res) {
            var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
            var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
            var speed = res.speed; // 速度，以米/每秒计
            var accuracy = res.accuracy; // 位置精度
            //document.getElementById('loc').innerHTML = 'latitude:'+latitude+',longitude:' + longitude;
            $("#lat_lng").val(latitude + "," +longitude);
          }
        });
        
        
      }
      else{
        $("#lat_lng").val('');
      }
    });
    
  });
  
</script>  
  
  
<body>
  <div data-role="page" id="pageone" data-theme="b">
    <div data-role="content">
      <p><%=msg%></p>
      <form action="/books/notes/add" method="post" autocomplete="yes"> 

        <label for="book">哪本书:</label>
        <select name="book" id="book" >
          <% for(var i=0;i<books.length;i++) {%>
            <option value="<%= books[i].boo_isbn %>"><%= books[i].boo_name %></option>
          <% } %>
        </select>
  
        
        <label for="txt">笔记:</label>  
        <textarea rows="6" cols="30"   name="txt" id="txt" autofocus required="required"><%=txt%></textarea>
          
          
        <label for="title">章节:</label> 
        <input type="text" name="title" id="title">
        <label for="page">页码:</label>
        <input type="number" name="page" id="page">
        
        <div class="ui-grid-a" >
        <div class="ui-block-a">
        <label for="style">权限：</label>
        <select name="style" id="style" data-role="slider">
            <option value="1">私密</option>
            <option value="0" selected="selected">公开</option>
        </select> 
        </div>
        <div class="ui-block-b">
          <label for="bookstate">书状态(0=读过,1=在读中,空不处理)</label>
          <input type="text" name="bookstate" id="bookstate">
        </div>
        </div>
          
        <div data-data-role="fieldcontain">
          <label for="sw2">记下位置：</label>
            <div class="ui-grid-a" id="sw2">
            <div class="ui-block-a">
              <select name="switch" id="switch" data-role="slider" >
                <option value="on">开</option>
                <option value="off" selected="selected">关</option>
              </select></div>
            <div class="ui-block-b"><input type="text" name="lat_lng" id="lat_lng"></div>
          </div>
        </div>
          
        
        

      <input type="submit" value="   提  交  " data-inline="false" data-role="button" data-icon="check"  data-inline="true" />  
      </form>
    
    </div>
  </div>
  
  
  
</body>
    
<script>
  SetTitle('增加读书笔记');
</script>    
<% include footer.html %>