<% include header.html %>
  
  <script>
    function selectimage(obj){
      if($(obj).attr('images') !='null'){
        $("#bno_images").val($(obj).attr('images'));
      }
      else{
        $("#bno_images").val('');
      }
    }
  
  
  </script>
  
  
  <body>
  <div data-role="page" id="pageone" data-theme="b">
    <div data-role="content">
      
      <form action="/books/notes/addimage" method="post" autocomplete="yes"> 
        
         <label for="booknote">哪个读书笔记:</label>
        <select name="booknote" id="booknote" required="required" onchange="selectimage(this.options[this.options.selectedIndex])">
          <% for(var i=0;i<rows.length;i++) {%>
            <option value="<%= rows[i].bno_guid %>" images="<%=rows[i].bno_images%>" <%=i==0?'selected':'' %> ><%= rows[i].bno_txt %></option>
          <% } %>
        </select>
              
        
        <input type="hidden" name="img_guid"    id="img_guid" value="<%=img_guid%>">
        <input type="text" name="bno_images" id="bno_images" value="<%=rows.length>0 && rows[0].bno_images?rows[0].bno_images:''%>">
        <input type="submit" value="   提  交  " data-inline="false" data-role="button" data-icon="check"  data-inline="true" />  

      </form>
        
      
    </div>
  </div>
  </body>

<script>
  SetTitle('增加读书笔记图片');
</script>
  
<% include footer.html %>