<% include header.html %>
  
  <script>
    $(document).ready(function(){
      $("#time").val(new Date().toLocaleDateString);
    
    });
  
  </script>
  
  <body>
  <div data-role="page" id="pageone" data-theme="b">
    <div data-role="content">
      
      <form action="/footer/add" method="post" autocomplete="yes"> 
        <label for="txt">内容:</label> 
        <textarea rows="6" cols="30" name="txt" id="txt" autofocus></textarea>
        <label for="time">时间</label>
        <input type="datetime-local" name="time" id="time" value="2012-02-01">
        
        <label for="style">权限：</label>
        <select name="style" id="style" data-role="slider">
            <option value="1">私密</option>
            <option value="0" selected="selected">公开</option>
        </select> 
        
        <div data-role="controlgroup" data-type="horizontal">
          <legend>标签：</legend>
          <label for="1">节假出游</label>
          <input type="radio" name="tag"  id="1" value="节假出游" required="required" checked>  
          <label for="5">其他</label>
          <input type="radio" name="tag" id="5" value="其他"> 
        </div>
        
        <input type="hidden" name="loc_guid" id="loc_guid" value="<%=loc_guid%>">
        
        <input type="submit" value="   提  交  " data-inline="false" data-role="button" data-icon="check"  data-inline="true" />  

      </form>
        
      
    </div>
  </div>
  </body>

<script>
  SetTitle('增加我的足迹');
</script>
  
<% include footer.html %>
  
  
  
