<% include header.html %>
  
  
  <body>
  <div data-role="page" id="pageone" data-theme="b">
    <div data-role="content">
      <label for="search">查找:</label>
      <div class="ui-grid-a" id="search">    
        <div class="ui-block-a"> 
          <input type="text" name="searchtxt" id="searchtxt" value="<%=txt%>" data-mini="true">
        </div>
        <div class="ui-block-b">
          <a data-role="button" data-icon="search" data-mini="true" id="dosearch">搜索</a>
        </div>
      </div>
      
      <div data-data-role="fieldcontain">
        <ul data-role="listview" id="friends" data-inset="true">
          <% for(var i=0;i<rows.length;i++){%>
            <li><a data-role="button" data-mini="true" data-icon="arrow-r" data-iconpos="right" onclick="doadd(this)" guid="<%=rows[i].fri_guid%>">
              <%=rows[i].fri_name +' '+ rows[i].fri_moblie %> 
            </a></li>
          <%}%>
        </ul>
      </div>      
    </div>
  </div>
  </body>

<script>
  SetTitle('查找人');
</script>
  
<% include footer.html %>