<% include header.html %>

 <link rel="stylesheet" href="/js/editor.md/css/editormd.preview.css" />

  
<script type="text/javascript">
  var uyan_config = {
             'title':'<%=row.blo_title%>', 
              'url':'www.mrlong.cn/blog/view/<%=row.blo_guid%>',     
             'du':'www.mrlong.cn', 
             'su':'blogview' + '<%=row.blo_guid%>'
  };
</script>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2031584"></script>
<script src="/js/editor.md/editormd.js"></script> 
<script src="/js/editor.md/lib/marked.min.js" type="application/javascript"></script>
<script src="/js/editor.md/lib/prettify.min.js" type="application/javascript"></script>

  
<style>
 #blogview{
    margin: 10px; 
 }
  
#blogview h2{
  text-align: center;
  font-size: 25px;
}
  
#toptool{
  text-align: right; 
}
  
img[alt=upload] {
  width: 50%;
  margin-left: 20px;
}
  
#editormd-view {
  width: 90%;
  margin: 0 auto;
}
  
.subtile{
  text-align: center;
}
  
.subtile .date{
  margin-left: 20px; 
  color: #999;
}
  
.subtile .tag{
  margin-left: 20px;
   color: #999;
}

  
</style>
  
<script>
  
    
  $(document).ready(function(){
   
     editormd.markdownToHTML("editormd-view", {
        htmlDecode      : "style,script,iframe",  
        emoji           : true,
        taskList        : true,
        tex             : false,  // 默认不解析
        flowChart       : false,  // 默认不解析
        sequenceDiagram : false,  // 默认不解析
      });
  });
  
</script>
  
<% if(locals.adminlogin){ %>
  <div id='toptool'>
    <a href="/blog/edit/<%=row.blo_guid%>">==编辑文章==</a>
  </div>
<%}%>

<div id="blogview" >

  <h2><%=row.blo_title%></h2>
  <div class="subtile">
    <span class="date">日期:<%=row.blo_createtime%></span> 
    <span class="tag">标签:<%=row.blo_tag%></span>
  </div>
    
    
  <div id="editormd-view">
      <textarea style="display:none;" name="editormd-markdown-doc"><%=row?row.blo_text:"###查找无文档内容。"%></textarea>               
  </div>
        
</div>
  

    
    
<script>
  SetActionNav('我的文章');    
</script>  
    
<!-- UY BEGIN -->
<div id="uyan_frame"></div>
<!-- UY END -->
  
<% include footer.html %>