<% include header.html %>

<script type="text/javascript">
var uyan_config = {
             'title':'<%=row.blo_title%>', 
              'url':'www.mrlong.cn/blog/view/<%=row.blo_guid%>',     
             'du':'www.mrlong.cn', 
             'su':'blogview' + '<%=row.blo_guid%>'
};
</script>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2031584"></script>
  
  
<style>
 #blogview{
    margin: 10px; 
 }
#blogview h3{
  text-align: center; 
}
  
#toptool{
  text-align: right; 
}
  
img[alt=upload] {
  width: 50%;
  margin-left: 20px;
}
  
</style>
  
<script>
  
    
  $(document).ready(function(){
   
    
  });
  
</script>
  
<% if(locals.adminlogin){ %>
  <div id='toptool'>
    <a href="/blog/edit/<%=row.blo_guid%>">==编辑文章==</a>
  </div>
<%}%>

<div id="blogview" >

  <h3><%=row.blo_title%></h3>
  <h5>日期:<%=row.blo_createtime%></h5>
  <h5>标签:<%=row.blo_tag%></h5>
  <%-row.blo_html%>
</div>
  

    
    
<script>
  SetActionNav('我的文章');    
</script>  
    
<!-- UY BEGIN -->
<div id="uyan_frame"></div>
<!-- UY END -->
  
<% include footer.html %>