<% include header.html %>

 
  <style>
    .bookinfo {
      margin: 10px;
    }
    
    .bookinfo h3{ text-align: center};
    
    #myline{
      border-top: 1px dashed #DDDDDD; 
      height:10px;
      margin-top: 10px;
    }
    
    #booknote_table{
      margin:auto;
      width: 100%;
    }  
    
  .mapview {
    margin: 4px;
    width:150px; 
    height:150px;
  }
  
  </style>
  
  <script>
    $(document).ready(function(){
      $('#catalog').hide();
      
      $('#offcatalog').on('click',function(){
        $('#catalog').toggle(); 
      });
    
      
      $("#booknote_table tr:odd").not('#removenote').css('background-color','#d0cece');
    
      $('button[map="1"]').click(function(){
        var myurl = "/location/" + $(this).attr('guid');
        var id = $(this).attr('cid');
        $.get(myurl,function(obj){
          if (obj.success==true){
            var center = new qq.maps.LatLng(obj.lat,obj.lng); // 地图的中心地理坐标。
            var map = new qq.maps.Map(document.getElementById("map"+id), {
              center: center,
              zoom: obj.scale || 13,
              zoomControl: false,
              panControl:false,
              mapTypeControl:false
            });
            var marker = new qq.maps.Marker({
              position: center,
              map: map
            });
            
            $('#map'+id).show();
          }
          else{
            $('#map'+id).html(obj.msg);  
          }
        });
        $(this).hide();
      }); 
      
      ///////
      $('#readend').on('click',function(){
        if(!confirm('确定修改本书的状态?')){
          return false; 
        };
        
        $.post('/books/state/<%=isbn%>/<%=state%>',function(data,err){
          alert(data.msg);
        });
        
      });
    });
  
  
  </script>
  
  <div class="bookinfo">
  <h3><%=book.boo_name || doubook.title%></h3>
  <% if (!locals.ismob || locals.ismob==false ) {  %>
    <img style="float:left; padding-right: 10px; width:100px;height:auto;" src="/books/bookimg/<%=isbn%>">
  <%} else{%>
    <img style="width:100px;height:auto;"  src="/books/bookimg/<%=isbn%>">
    <br>
  <%}%>
 
  
    <b>作者：</b>: <%=book.boo_author || doubook.author%> <br> 
    <b>译者</b>：<%=book.boo_translator?book.boo_translator:((doubook.translator && doubook.translator.length>0) ?doubook.translator[0]:'')%><br>
    <b>页数</b>:<%=book.boo_pages || doubook.pages%><br>
    <b>出版社</b>:<%=book.boo_publisher || doubook.publisher  %>(<%=book.pubdadoute || doubook.pubdadoute  %>)<br>
    <b>价格</b>:<%=book.boo_price || doubook.price %><br>
    <%if(book.boo_url.indexOf('api.douban.com')<0){%>
    <b>豆瓣链接</b>: <a target="_blank" href="<%=book.boo_url%>"> <%=book.boo_url%></a><br>
    <%}%>
    <b>内容简介</b>:<br><small><%=book.boo_summary || doubook.summary %></small>
      <br>
      <% if (!locals.ismob || locals.ismob==false ) {  %>
          <b>目录</b>: <button id='offcatalog'>显示(或关闭)目录</button> <br> <small id='catalog'><%=book.boo_catalog || doubook.summary%></small> <br>
      <%}%>
  </div>
    
  <div id="myline"></div>
    
    <h3>读书笔记：</h3>
  <table id="booknote_table">
  <tr>
    <% if(notes.length > 0 && (!locals.ismob || locals.ismob==false ) ) {%>
    <th nowrap>序号</th>
    <th nowrap>发生日期</th>
    <th nowrap>笔记内容</th>
    <th nowrap>书的位置</th>
    <th nowrap>地理位置</th>
    <th nowrap>相关图片</th>
    <%} else if(notes.length == 0) { %>
      <h4>无记录</h4>  
    <%}%>
    
  </tr>
  <% for(var i=0;i<notes.length;i++) { %>
    <tr guid="<%=notes[i].bno_guid%>">
      <td><%=(i+1)%></td>
      <td><%=notes[i].bno_time%></td>
      <td><%=notes[i].bno_txt%></td>
      <td><%=notes[i].bno_title%><%=notes[i].bno_page?'P':''%><%=notes[i].bno_page%></td>
      <%if(notes[i].loc_guid) {%>
        <td nowrap>
          <button type="button" map="1"  guid=<%=notes[i].loc_guid %> cid="<%=i%>" >地图显示</button>
          <div class="mapview"  id="<%='map'+i %>" style="display:none;"></div>
        </td>
      <%} else { %>
        <td></td>
      <%}%>
        
      <!-- 相关图片       -->
      <td>
        <% var myimages = (notes[i].bno_images || '').split(',');  %>
        <% var c=0%>
        <% for (var k=0;k<myimages.length;k++) if(myimages[k] !='') { c=c+1  %>
          
          <a href="/images/<%=myimages[k]%>" target="_blank">图片<%=c %></a>
        <%}%>
      </td>
    </tr>
  <% } %>
  
  <tfoot>
    <tr id='removenote'>
    <td colspan="6">
      <a href="/books/notes">更多笔记...</a>
    </td>
    </tr>
  </tfoot>
</table>

          
<br>
<% if(locals.adminlogin){ %>
  <button id="readend" style="margin-left: 100px;margin-bottom: 20px">
    <%=state%>=本书【<%=state==0?"读完":"读书中..."%>】，点击设为【<%=state==0?"读书中...":"读完"%>】。
  </button>       
<%}%>
    
<script>
  SetActionNav('');
</script> 
  
<script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp&key=RTUBZ-3DUWW-WCERE-R5XFN-5B5WT-6ZFRU"></script>
<% include footer.html %>
  
  
 