<style>
/*页脚*/
footer {
  padding-top: 20px;
  font-size: 12px;
  color: #666;
  text-align: right;
  border-top: 1px solid #EEE;
}

</style>

<script>
  $.get('/getsysvar/syva_update',function(data){
    if(data.success==true)
      $('#syva_update').html(data.txt);
  });
  
  $(document).ready(function(){
    $("button[class=admin]").click(function(){
      var value = $('#adminpassword').val();
      $.post('/login',{"password":value},function(data){
        if(data.success==true){
          alert(data.msg);
          $("#adminpassword").hide(); 
          $("button[class=admin]").hide();
        }
        else{
          alert(data.msg);
        }
      });      
    });
    
    $("button[class=admin_logout]").click(function(){
      $.post('/logout',function(data){
        if(data.success==true){
          $("button[class=admin_logout]").hide(); 
        };
        alert(data.msg);
      });
    
    });
    
  });
</script>

<footer >
  <div style="text-align: center;">
    <a href="http://www.miibeian.gov.cn/">浙ICP备13037124号</a> | 2014-11-2~<span id='syva_update'></span>(最后更新时间)
    <br>
    <a href="mailto:mrlong.com@gmail.com"><img src="/img/selfmail.png" style="width:200px;height=50px"></img></a>
    <% if(!locals.adminlogin){ %>
    <input type="password"  id="adminpassword" style="width: 86px;"/><button type="button"  class="admin" >登录</button>
    <% } else{%>
      <button type="button"  class="admin_logout" >注销登录</button>
    <% } %>
  </div>
</footer>
</body>
</html>