</div> <!-- end class="body-container" -->
<style>
/*页脚*/
footer {
  padding-top: 20px;
  font-size: 12px;
  color: #666;
  border-top: 1px solid #EEE;
  background-color: #fbf8f3;
}
  
#scrollUp {
  background: url("/img/top.png") no-repeat 0 0;
  color: #EEE;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  bottom: 20px;
  right: 20px;
  overflow: hidden;
  width: 54px;
  height: 54px;
  border: none;
  opacity: .8;
}
  
#scrollUp:hover{
  background-position: 0 -54px;
}
 

#footer-left{
  float: left  !important;;
  position: relative;
  text-align: center;
  z-index: 21474837;
  margin-top: 20px;
  margin-left: 9%;
}
  
#footer-right{ 
  text-align: right;
}
  
#busuanzi_value_site_uv{
  color: #d15e5e; 
  font-size: 18px;
}
  
.footer-img{
  background-repeat: no-repeat;
  background-position: bottom center;
  margin: 0;
  padding: 0 0 80px 0;
  background-image: url("/img/footer@2.png");
  background-size: 470px 63px;
}
footer .imgtext{text-align:right;}
footer #footer-right img{margin-right: 10px; border:1px solid #EEE; }
footer #footer-right .imgtext span{margin-left: 15px;margin-right: 10px;padding-right: 5px;}

</style>

<script>
  $.get('/getsysvar/syva_update',function(data){
    if(data.success==true)
      $('.syva_update').html(data.txt);
  });
  
  $(document).ready(function(){
    $("#scrollUp").hide();
    $(window).scroll(function(){$(window).scrollTop()>400?$('#scrollUp').show():$('#scrollUp').hide();});
    $("button[class=admin]").click(function(){
      var value = $('#adminpassword').val();
      $.post('/login',{"password":value},function(data){
        if(data.success==true){
          alert(data.msg);
          location.reload();
        }
        else{
          alert(data.msg);
        }
      });      
    });
    
    $("button[class=admin_logout]").click(function(){
      $.post('/logout',function(data){
        if(data.success==true){
          location.reload();
        };
        alert(data.msg);
      });
    
    });
    
  });
</script>

<footer>
  <% if(!locals.ismob || locals.ismob==false){  %>
    <div id="footer-left">
  <%} else {%>
    <div  style="text-align: center;">  
  <%}%>
    
    <% if(!locals.ismob || locals.ismob==false){  %>
      <div class="pc">
        <a href="http://www.miibeian.gov.cn/">浙ICP备13037124号</a> 2014-11-2~<span class='syva_update'></span>(最后更新时间)
        <div>
          <script async src="/js/busuanzi.pure.mini.js"></script>
          <span id="busuanzi_container_site_uv">
            本站访客数<span id="busuanzi_value_site_uv"></span>人次
          </span>
        </div>
      </div>
    <%} else {%>  
      <div class="mob" >
        <a href="http://www.miibeian.gov.cn/">浙ICP备13037124号 </a>-移动版<br>
        创建时间：2014-11-2<br>
        更新时间：<span class='syva_update'></span>
      </div>
    <%}%>
    
    <a href="mailto:mrlong.com@gmail.com"><img src="/img/selfmail.png" style="width:200px;height=50px"></img></a>
    <br/>
    <% if(!locals.adminlogin){ %>
    <input type="password"  id="adminpassword" style="width: 86px;"/><button type="button"  class="admin" >登录</button>
    <% } else{%>
      <button type="button"  class="admin_logout" >注销登录</button>
      <a href="/images"  target="_blank" >图片管理</a>
    <% } %>
  </div>
      
  <% if(!locals.ismob || locals.ismob==false){  %>
    <div id="footer-right">
      <img src="/img/qrcode-mrlong.cn.png" style="width:100px;height=100px;"/>
      <img src="/img/selfwechat.png" style="width:100px;height=100px;"/>  
      <div class="imgtext"><span>移动端访问扫一扫</span><span>加我微信扫一扫</span></div>
    </div>
  <%}%>
    
  <div class="footer-img"></div>
      
</footer>
      
<% if(!locals.ismob || locals.ismob==false){  %>      
  <a id="scrollUp" href="#top" style="position: fixed; z-index: 2147483647" ></a>
<%}%>
      
</body>
</html>