<% include header.html %>
<script type="application/javascript"  src="/js/jquery.form.js"></script>
<script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp&key=RTUBZ-3DUWW-WCERE-R5XFN-5B5WT-6ZFRU"></script>
 
<style>
  
  #books_table{
      margin:auto;
      width: 90%;
  }  
  .single{width:200px;margin: 2px}
  
  .notes{
    background-color:  #EEE; 
  }
</style>  
  
<script>
  
  function showSummary(isbn){    
      $("#summary" + isbn).toggle(100); 
  };
  
  function loadmap(id){
     var myguid =  $('button[map='+  id + ']').attr('guid');
     var myurl = "/location/" + myguid;
     $.get(myurl,function(obj){
          if (obj.success==true){
            var center = new qq.maps.LatLng(obj.lat,obj.lng); // 地图的中心地理坐标。
            var map = new qq.maps.Map(document.getElementById("map"+id), {
              center: center,
              zoom:13,
              zoomControl: false,
              panControl:false,
              mapTypeControl:false
            });
            var marker = new qq.maps.Marker({
              position: center,
              map: map
            });       
            $('#map'+id).show();
          }
          else{
            $('#map'+id).html(obj.msg);  
          }
        });
    $('button[map='+  id + ']').hide();
  }
    
  $(document).ready(function(){
    $(".summary").hide();   
    
    //打开读书笔记
    $("button[class=bj]").click(function(){
      var myisbn = $(this).attr('isbn');
      var hasclose = $(this).attr('close');
      
      if (hasclose == 'true'){
        $("#notes"+myisbn+" table").hide();
        $("#notes"+myisbn+" table tr").remove();
        $(this).attr('close',false);
        $(this).html('读取笔记');
        return; 
      };
      
      
      $.get('/books/notes/'+myisbn,{},function(data,status){
        if(status==='success'){
          for( var i= 0; i< data.rows.length; i++){

           var mymap = data.rows[i].loc_guid?'<td><button type="button" map="'+ i +'" guid="' +  data.rows[i].loc_guid +  '" onclick="loadmap(' + i +')">地图显示</button>' +
            '<div class="container" id=map' + i + ' style="display:none;width: 200px;height: 100px;">d</div></td>' : '<td></td>';
            
           $("#notes"+myisbn+" table").append('<tr><td>'+ (i+1) +')</td><td>'+ data.rows[i].bno_txt +'</td>' +
            '<td>' + data.rows[i].bno_time + '</td>' +  
            '<td>' + data.rows[i].bno_title + '(页码:' + data.rows[i].bno_page + ')</td>' + 
             mymap +                                   
            '</tr>'); 
            
            
          }
        }
        else{
          alert('读取出错'); 
        }      
      });
      $("#notes"+myisbn+" table").show();
      $(this).html('关闭笔记');
      $(this).attr('close',true);
      
    
    });    
    
    //增加书
    var options = {
      success: function (data) {
        if(data.success===true){
          location.reload();  //重新刷新页面
        }
        else{
         alert(data.msg); 
        }
      }
    };
    $("#addbook").ajaxForm(options);
 
    //删除读书
    $("button[class=del]").click(function(){
      if(!confirm('确实要删除该内容吗?')){return false;}
        
      var myisbn = $(this).attr('isbn');
      $.post('/books/delbook',{"isbn":myisbn},function(data){
        if(data.success==true){
          $("#summary" + myisbn).hide(); 
          $("#book"+myisbn).hide();
        }
        else{
          alert(data.msg);
        };
      });      
    });
    //end
    
    
  });
  
</script>
<h3 style="text-align: center">我的读书共<%=rowcount%>本,购书费合计: <%=totle%></h3>
  
  <table id="books_table" border="0" >
    <% if(locals.adminlogin) { %>
      <tr  style="border-bottom: 1px solid #EEE;">
        <form  id="addbook" method="post" action="/books/addbook">
        <td>*</td>
        <td>
          ISBN*：      <input class="single" type="text" name="boo_isbn" required><br>
          书名：        <input class="single" type="text" name="boo_name"> <br>
          我的购买价格： <input class="single" type="text" name="boo_price"> <br>
          购买日期：     <input class="single" type=date name="boo_buytime"> <br>         
          标签：
          <select name="boo_tag" class="single">
            <option value ="计算机丛书">计算机丛书</option>
            <option value ="企业管理">企业管理</option>
            <option value="心灵鸡汤">心灵鸡汤</option>
            <option value="励志">励志</option> 
          </select>  
        </td>  
        <td>
          <input type="radio" name="boo_state" value="0" />读过 
          <input type="radio" name="boo_state" value="1" />在读中  
        </td>
        <td><input type="submit" value="提  交"/></td>
        </form>
      </tr>
      
    <% } %>  
      
    <% for(var i=0;i<rows.length;i++){%>
      <% if (i === rows.length-1){ %>
        <tr id="book<%=rows[i].boo_isbn%>" >    <!-- 最后一本时下线不要画了 -->
      <%} else {%>
        <tr id="book<%=rows[i].boo_isbn%>" style="border-bottom: 1px solid #EEE;">
      <%}%>
        <td><%=(curpage-1)*20 + i+1%></td>
        <td width="40%">
          <a href="/books/info/<%=rows[i].boo_isbn%>">
            <img src="books/bookimg/<%=rows[i].boo_isbn%>"/ style="margin:4px;float:left">
          </a>
          <div style="margin-top:20px">
          <a href="javascript:void(0)" onclick="showSummary(<%=rows[i].boo_isbn%>)"><%=rows[i].boo_name%><br></a>
          <%=rows[i].boo_publisher %> (<%=rows[i].boo_pubdate %>)<br>
          标签：<%=rows[i].boo_tag%><br>
          购买时间：<%=rows[i].boo_buytime%><br>
          购买价格：<%=rows[i].boo_price%>
          <div>
        </td>

        <td width="50%">
          <%=rows[i].boo_state===0?"读过":"在读中..."%><br>
          <button type="button" class="bj" isbn="<%=rows[i].boo_isbn%>" >读书笔记</button>
        </td>
        <% if(locals.adminlogin) { %>
          <td><button type="button" class="del" isbn="<%=rows[i].boo_isbn%>" >删除</button></td>
        <% } %>
        
      </tr>
      <tr class="summary" id="summary<%=rows[i].boo_isbn%>" >
        <td></td>
        <td colspan="5"><small><%=rows[i].boo_summary%></small></div>
      </tr>
      <!--  读书笔记     -->
      <tr class="notes" id="notes<%=rows[i].boo_isbn%>">
        <td colspan="5">
        <table></table>
        </td>
      </tr>
      <!--  end    -->
    <% } %>
  </table>
  
  <div style="margin-left: 200px;">
  <% var totalpage = rowcount%20>0?1:0;totalpage = totalpage + parseInt(rowcount/20);  %>
  <% if (curpage >1) { %>
    <a href="/books?page=<%=Number(curpage)-1%>"> <button style="width: 100px;height: 31px;">上一页</button></a>      
  <%}%>

  <% if (curpage < totalpage){  %>
    <a href="/books?page=<%=Number(curpage)+1%>" ><button style="width:100px;height: 31px;">下一页</button></a>
  <%}%> 第<%=curpage%>页,共<%=totalpage%>页 总共<%=rowcount%>本书。 
  </div>
    
<script>
  SetActionNav('我的读书');    
</script>     
  
<% include footer.html %>