<% include header.html %>
 
<style>
  #toptool{
    float: right;
  }
  
</style>

  
<% if(!locals.adminlogin){ %>
  <div id='toptool'>
    <% if(code){ %>
      <form method="post" action="/fit/data">
        <input type="hidden" name="authorizeUrl" value="<%=authorizeUrl%>">
        <input type="text" name="code" value="<%=code%>">
        <input type="date" name="startdate">
        <input type="date" name="enddate">
        <button type="submit">读取misfit数据</button>
      </form>
    <%} else { %>  
      <a href="<%=authorizeUrl%>">==获取misfit读取数据code==</a>
    <%}%>
  </div>
<%}%>
  
<h1>sss</h1>
    
    
<script>
  SetActionNav('运动故事');    
</script>     
  
<% include footer.html %>