<% include header.html %>
<script type="application/javascript"  src="/js/jquery.form.js"></script>
 
<style>
  
 #books_table{
      margin:auto;
      width: 90%;
    }  
  .single{width:200px;margin: 2px}
</style>  
  
<script>
  
  function showSummary(isbn){    
      $("#summary" + isbn).toggle(100); 
  };
  
  $(document).ready(function(){
    $(".summary").hide();            
    //打开读书笔记
    $("button[class=bj]").click(function(){
      var myisbn = $(this).attr('isbn');
      alert(myisbn);
    });    
    
    //增加书
    var options = {
      success: function (data) {
        if(data.success===true){
          location.reload();  //重新刷新页面
        }
        else{
         alert(data.msg); 
        }
      }
    };
    $("#addbook").ajaxForm(options);
 
    //删除读书
    $("button[class=del]").click(function(){
      if(!confirm('确实要删除该内容吗?')){return false;}
        
      var myisbn = $(this).attr('isbn');
      $.post('/books/delbook',{"isbn":myisbn},function(data){
        if(data.success==true){
          $("#summary" + myisbn).hide(); 
          $("#book"+myisbn).hide();
        }
        else{
          alert(data.msg);
        };
      });      
    });
    
    //end
    
    
  });
  
</script>

<h3>我的读书</h3>
  
  <table id="books_table" border="0" >
    <% if(locals.adminlogin) { %>
      <tr  style="border-bottom: 1px solid #EEE;">
        <form  id="addbook" method="post" action="/books/addbook">
        <td>*</td>
        <td>
          ISBN*：      <input class="single" type="text" name="boo_isbn" required><br>
          书名：        <input class="single" type="text" name="boo_name"> <br>
          我的购买价格： <input class="single" type="number" name="boo_price"> <br>
          购买日期：     <input class="single" type=date name="boo_buytime"> <br>         
          标签：
          <select name="boo_tag" class="single">
            <option value ="计算机丛书">计算机丛书</option>
            <option value ="企业管理">企业管理</option>
            <option value="心灵鸡汤">心灵鸡汤</option>
            <option value="励志">励志</option> 
          </select>  
        </td>  
        <td>
          <input type="radio" name="boo_state" value="0" />读过 
          <input type="radio" name="boo_state" value="1" />在读中  
        </td>
        <td><input type="submit" value="提  交"/></td>
        </form>
      </tr>
      
    <% } %>  
      
    <% for(var i=0;i<rows.length;i++){%>
      <tr id="book<%=rows[i].boo_isbn%>" style="border-bottom: 1px solid #EEE;">
        <td><%=i+1%></td>
        <td width="40%">
          <img src="books/bookimg/<%=rows[i].boo_isbn%>"/ style="margin:4px;float:left">
          <div style="margin-top:20px">
          <a href="javascript:void(0)" onclick="showSummary(<%=rows[i].boo_isbn%>)"><%=rows[i].boo_name%><br></a>
          <%=rows[i].boo_publisher %> (<%=rows[i].boo_pubdate %>)<br>
          标签：<%=rows[i].boo_tag%><br>
          购买时间：<%=rows[i].boo_buytime%><br>
          购买价格：<%=rows[i].boo_price%>
          <div>
        </td>

        <td width="50%">
          <%=rows[i].boo_state===0?"读过":"在读中..."%><br>
          <button type="button" class="bj" isbn="<%=rows[i].boo_isbn%>" >读书笔记</button>
        </td>
        <% if(locals.adminlogin) { %>
          <td><button type="button" class="del" isbn="<%=rows[i].boo_isbn%>" >删除</button></td>
        <% } %>
        
      </tr>
      <tr class="summary" id="summary<%=rows[i].boo_isbn%>" >
        <td></td>
        <td colspan="5"><small><%=rows[i].boo_summary%></small></div>
      </tr>
      
    <% } %>
  </table>
  
<script>
  SetActionNav('我的读书');
</script>     
  
<% include footer.html %>